
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">Admin</h2>
        </div>

        <div class="menu">
            <ul class="ul">
                <li>
                    <div class="dropdown">
                        <a class="dropbtn">Accounts
                          <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="dropdown-content">
                          <a href="customerrequest">Customer Request</a>
                          <a href="accountrequest">Account Request</a>
                          <a href="loginrequest">Login Request</a>
                          <a href="chequerequest">Cheque Request</a>
                         
                        </div>
                      </div> 
                </li>
                <li class="main-nav__item main-nav__item__cta">
                    <a href="login">Logout</a>
                </li>
                
            </ul>
        </div>
        </div>
   


<!-- <header class="main-header">
    <a class="main-header__brand">Admin Home</a>

    <nav class="main-nav">
        <ul class="main-nav__items">
            <li class="main-nav__item">
                <a routerLink="/teamleaderprofile"></a>
            </li>
            <li class="main-nav__item">
                <a routerLink="/jobrequest"></a>
            </li>
            <li class="main-nav__item">
                <a routerLink="/managerallrequest"></a>
                
            </li>
            <li class="main-nav__item">
                <div class="dropdown">
                    <a class="dropbtn">Accounts
                      <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-content">
                      <a href="customerrequest">Customer Request</a>
                      <a href="accountrequest">Account Request</a>
                      <a href="loginrequest">Login Request</a>
                      <a href="chequerequest">Cheque Request</a>
                     
                    </div>
                  </div> 
            </li>
            <li class="main-nav__item main-nav__item__cta">
                <a href="login">Logout</a>
            </li>
        </ul>
    </nav>
</header> -->