

<div class="navbar">
    <div class="icon">
        <h2 class="logo">apeX</h2>
    </div>

    <div class="menu">
        <ul class="ul">
            <li class="main-nav__item">
                <a (click)="details()">Profile</a>
            </li>
            <li class="main-nav__item">
                <a (click)="newAccount()">Create New Account</a>
            </li>
            <li class="main-nav__item">
                <a (click)="accountsList()">Accounts</a>
            </li>
            <li class="main-nav__item main-nav__item__cta">
                <a class="logout" (click)="logout()">Logout</a>
            </li>
            
        </ul>
    </div>
    <hr>
    </div>