<main class="=main">
    <app-admin-header></app-admin-header>

<div>
    <h2>CUSTOMER DETAILS</h2>
    <table id="customer" border="1">
        <tr>
            <th>firstName</th>
            <td>{{customer.firstName}}</td>
            </tr>
            <tr>
                <th>lastName</th>
                <td>{{customer.lastName}}</td>
            </tr>
            <tr>
                <th>username</th>
                <td>{{customer.username}}</td>
            </tr>
            <tr>
                <th>password</th>
                <td>{{customer.password}}</td>
            </tr>
            <tr>
                <th>addressLine1</th>
                <td>{{customer.addressLine1}}</td>
            </tr>
            <tr>
                <th>addressLine2 </th>
                <td>{{customer.addressLine2}}</td>
            </tr>
            <tr>
                <th>addressLine3</th>
                <td>{{customer.addressLine3}}</td>
            </tr>
    
            <tr>
                <th>city</th>
                <td>{{customer.city}}</td>
            </tr>
            <tr>
                <th>state</th>
                <td>{{customer.state}}</td>
    
            </tr>
            <tr>
                <th>zip</th>
                <td>{{customer.zip}}</td>
            </tr>
            <tr>
                <th>phone</th>
                <td>{{customer.phone}}</td>
            </tr>
            <tr>
                <th>cell</th>
                <td>{{customer.cell}}</td>
            </tr>
            <tr>
                <th>email</th>
                <td>{{customer.email}}</td>
            </tr>
           <tr>
            <th>customerId</th>
            <td>{{customer.customerId}}</td>
           </tr>
            
            <tr>
                <th>customerStatus</th>
                <td>{{customer.customerStatus}}</td>
            </tr>
            <tr >
                <td style="text-align: center;" colspan="2"><button (click)="goback()"  >Go Back</button></td>
            </tr>
    </table>
</div>
</main>
<app-admin-footer></app-admin-footer>