

.main-footer {
   
    background: black;
   padding: 10px;
   margin-bottom: 1%;
}

.main-footer__links {
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-footer__link {
    display: inline-block;
    padding: 0 20px;
}

.main-footer__link a {
    text-decoration: none;
    color: white;
    margin: 40px 0px;
}





.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}